<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>66062581248-9172kf2nphsj67d8mb2rlmpq6l07csnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66062581248-9172kf2nphsj67d8mb2rlmpq6l07csnq</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6ZETfmb3Yuex9Xk8nZLa2pEUO2pj4Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>66062581248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miguelrochajr.pokesearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-ae60b</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-ae60b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66062581248:ios:cdd389390fc90300</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-ae60b.firebaseio.com</string>
</dict>
</plist>